.contacts {
    margin-top: 112px;
}
.contacts_header {
    text-align: center;
}
.contacts_inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    margin-top: 56px;
}
.contacts_info {
    text-align: left;
    margin-right: 32px;
}
.info_name {
    font-size: 18px;
    text-transform: uppercase;
}
.info_value {
    margin-top: 8px;
    margin-bottom: 40px;
}
.social_link {
    margin-top: 16px;
}
.social_link >a {
    margin-right: 20px;
    text-decoration: none;
}
.contacts_map>div>iframe {
    max-width: 700px;
    border: none;
    border-radius: 16px;
}
@media(max-width: 1199px) {
    .contacts_inner {
        justify-content: center;
    }
    .contacts_info {
        margin-bottom: 32px;
        margin-right: 0;
    }  
}
@media(max-width: 767px) {
    .contacts {
        margin-top: 56px;
    }
    .contacts_inner {
        margin-top: 32px;
        justify-content:center;
        flex-wrap: wrap;
    }
    .info_name {
        font-size: 16px;
    }
    .info_value {
        margin-bottom: 32px;
    }
    .contacts_map {
        max-width: 440px;
    }
}
@media(max-width: 568px) {
    .contacts_map {
        max-width: 280px;
    }
}
@media(max-width: 374px) {
    
}